<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http -equiv="Content -Type" content="text/html; charset=UTF -8" />

        <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/js/jquery-bracket/jquery.bracket.min.css" /> <!-- Api affichage match -->
    <link rel="stylesheet" href="css/stylesheet.css">


    <title>GestionTournois</title> 
  </head>

  <body>

    <script type="text/javascript" src="http://www.aropupu.fi/bracket/site/jquery-1.6.2.min.js"></script>

<!--    <script type="text/javascript" src="http://www.aropupu.fi/bracket/site/jquery.json-2.2.min.js"></script>-->

    <script type="text/javascript" src="../static/js/jquery-bracket/jquery.bracket.min.js"></script>
    <script type="text/javascript">

              var minimalData = {
                  teams : [ 
                    ["Team 1", "Team 2"], /* first matchup */
                    ["Team 3", "Team 4"]  /* second matchup */
                  ],
                  results : [ 
                    [ [1,2], [3,4] ],       /* first round */
                    [ [4,6], [2,1] ]        /* second round */
                  ]
                }
              $(function() {
                  $('#minimal').bracket({
                    init: minimalData /* data to initialize the bracket with */ })
                })
          
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var message = [[${coupe}]];
        alert(message);

        /*]]>*/
    </script>
    <div id="minimal"></div>

  </body>
</html>