<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http -equiv="Content -Type" content="text/html; charset=UTF -8" />

        <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="js/jquery-bracket/jquery.bracket.min.css" /> <!-- Api affichage match -->
    <link rel="stylesheet" href="stylesheet.css">

    <script type="text/javascript">
    </script>

    <title>GestionTournois</title> 
  </head>

  <body>
  	<div th:replace="fragments/navbar :: navbar">Navbar</div>
  	
  	<div class="row">
     <!-- <a class="waves-effect waves-light btn-large show-on-small">Match en cours</a> -->
      <div class="col l2 hide-on-small" id="AutresTournois">
        <h6>Tournois en cours</h6>
        <div class="collection">
          <a href="#!" class="collection-item">
              <span class=""><i class="material-icons right">lens</i>Nom Tournoi</span>
              <p>Date</p>
              <p>Sport</p>
          </a>
          <a href="#!" class="collection-item active">
              <span class=""><i class="material-icons right">lens</i>Nom Tournoi</span>
              <p>Date</p>
              <p>Sport</p>
          </a>
          <a href="#!" class="collection-item">
              <span class=""><i class="material-icons right">lens</i>Nom Tournoi</span>
              <p>Date</p>
              <p>Sport</p>
          </a>
        </div>

      </div>

      <div class="card-panel col l10 s12" id="TournoiEnCours">
        <h3>Nom Tournoi</h3>
        <div class="row">

          <div class="col l10 s12">
            <img src="#" alt="Mettre ici l'affichage des matchs">
            
            <div id="minimal"></div>

            

          </div>
        <!--  <a class="waves-effect waves-light btn-large show-on-small">Prochains Matchs</a> -->
          <div class="col l2 hide-on-small" id="ProchainsMatchs"> 
            <h6>Prochains Matchs</h6>
            <div class="collection">
              <a href="#!" class="collection-item">
                  <p>Participant1</p>
                  <p>Participant2</p>
                  <p>Date Heure</p>
                  <p>Lieu</p>
              </a>
              <a href="#!" class="collection-item active">
                  <p>Participant1</p>
                  <p>Participant2</p>
                  <p>Date Heure</p>
                  <p>Lieu</p>
              </a>
              <a href="#!" class="collection-item">
                  <p>Participant1</p>
                  <p>Participant2</p>
                  <p>Date Heure</p>
                  <p>Lieu</p>
              </a>
            </div>

          </div>
    
        </div>
      </div>
      
    </div>
	
    <!-- JavaScript -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


  <!--   <script type="text/javascript" src="http://www.aropupu.fi/bracket/site/jquery-1.6.2.min.js"></script> -->

 
    <script type="text/javascript" src="http://www.aropupu.fi/bracket/site/jquery.json-2.2.min.js"></script>

    <script type="text/javascript" src="js/jquery-bracket/jquery.bracket.min.js"></script>

    <script type="text/javascript">
      M.AutoInit();
    </script> 

     <script type="text/javascript">
      $('.dropdown-trigger').dropdown();
    </script> 

    <script type="text/javascript">

              var minimalData = {
                  teams : [ 
                    ["Team 1", "Team 2"], /* first matchup */
                    ["Team 3", "Team 4"]  /* second matchup */
                  ],
                  results : [ 
                    [ [1,2], [3,4] ],       /* first round */
                    [ [4,6], [2,1] ]        /* second round */
                  ]
                };
               
              $(function() {
                  $('#minimal').bracket({
                    init: minimalData /* data to initialize the bracket with */ })
                });
          
    </script>
  </body>
</html>