<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http -equiv="Content -Type" content="text/html; charset=UTF -8" />

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>GestionTournois</title> 
    </head>
    <body>

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
                <ul class="right hide-on-smal-and-down">
                    <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                    <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">account-circle</i></a></li>
                    <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </nav>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Materialize JS -->  
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript">
        $( document ).ready(function)
        </script>
        <script>
        $(document).ready(function() {
	
	// activate search-bar
	$(".search-bar").on("click", function() {
		$(this).addClass("expand");
		$(".line").addClass("expand");
		$("input").focus().css("opacity", 1);
	});

	// handle input value on hover
	$("input")
		.hover(function() {
			$(this).css("opacity", 1);
		})
		.mouseleave(function() {
			if (!$("input").is(":focus") && !".close".is(":hover")) {
				$(this).css("opacity", 0);
			}
		});

	// deactivate search-bar
	$("input").on("focusout blur", function() {
		$(".search-bar").removeClass("expand");
		$(".line").removeClass("expand");
		$(this).css("opacity", 0);
	});

	// clean input
	$(".close").on("click", function() {
		if ($("input").val().length > 0) {
			$("input").val("");
		}
	});
	
});
</script>
    </body>
</html>